.h3-transicio {
    transition: all 1s ease;
}

.h3-transicio:hover {
    transform:rotateX(180deg);
}

#container { position: relative; }
#imageTemp { position: absolute; top: 1px; left: 1px; }

.div-triangle{
    width: 0;
    height: 0;
    border-top: 0px;
    border-right: 100px solid white;
    border-left: 100px solid white;
    border-bottom: 100px solid #ffe599;

}

.div-cosSemafor{
    width: 100px;
    height: 200px;
    padding-top: 1em;
    background-color: #ffe599;
}

.div-pal {
    width: 50px;
    height: 100px;
    background-color: #666666;
    margin-left: 4.5em;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.div-colors {
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    margin-left: 1.5em;
    border-radius: 50%;
    border: 1px solid black;
}

#vermell {
    background-color: red;
    opacity: 0.2;
}

#taronja {
    background-color: orange;
    opacity: 0.2;
}

#verd {
    background-color: green;
}