/* Estils element generals */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    margin-top: 8em;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-weight: 400;
}

.btn-general {
    background-color: #72e99a;
    font-weight: bold;
    color: #1d1d1d;
    text-align: center;
}

.btn-general:hover {
    background-color: #1d1d1d;
    color: #72e99a;
}

.a-generals {
    color: #1d1d1d;

}

.a-generals:hover {
    color: #1d1d1d;
    text-decoration-color: #1d1d1d;
}


/* Estils elements header */
.menu {
    background-color: #72e99a;
    font-weight: bold;
}

/* Estils elements footer */
footer {
    background-color: #72e99a;
}

.llistesFooter {
    list-style: none;
}

ul .element1 {
    font-weight: bold;
    margin-bottom: 1em;
}

/* Estils elements aside */
.aside-index {
    margin-top: 6rem;
}

.ul-articles {
    list-style: none;
}

.li-parells {
    background-color: #72e99a;
}

/* Estils elements index.html */
.nomSeccio {
    border-bottom: 2px solid #72e99a;
}

article {
    border-bottom: 2px solid #72e99a;
}

article:nth-last-child(1) {
    border-bottom: none;
}

/* Estils elements llistat.html */
div .card {
    border-color: #72e99a;
    border-width: 2px;
}
.card-body{
    text-align: center;
}

/* Estils elements detall.html */
.autor {
    width: auto;
    font-weight: bold;
    border-bottom: 2px dotted #72e99a;
}

.a-link {
    color: green;

}

.a-link:hover {
    color: green;
    text-decoration-color: green;
}

.t-important {
    font-weight: bold;
    color: green;
}
/* Estils elements formulari.html */